<main class="main" id="top">
  <section class="page-header py-3">
    <div class="container">
      <div class="row">
        <div class="col">
          <!-- Page pre-title -->
          <div class="fs-8 fw-bold text-muted">Add</div>
          <h2 class="fs-7 fw-bold">New Unit</h2>
        </div>
        <!-- Page title actions -->
        <div class="col-12 col-md-auto ms-auto d-flex align-items-center">
          <div class="btn-list">
            <%= link_to 'Back To All Units', admin_units_path, class: 'btn btn-sm btn-warning' %>
          </div>
        </div>
      </div>
    </div>
  </section>

  <seaction>
    <div class="container">
      <div class="row mb-3">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <%= render "form", unit: @unit %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </seaction>
</main>