<%= render "shared/backend/header" %>
<main class="main" id="top">

  <section class="page-header py-3">
    <div class="container">
      <div class="row">
        <div class="col">
          <!-- Page pre-title -->
          <div class="fs-8 fw-bold text-muted">Overview</div>
          <h2 class="fs-7 fw-bold">Dashboard</h2>
        </div>
        <!-- Page title actions -->
        <div class="col-12 col-md-auto ms-auto d-flex align-items-center">
          <div class="btn-list">
            <span class="">
              <a href="#" class="btn btn-secondary btn-sm">New view</a>
            </span>
            <a href="#" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#modal-report">
              Create new report
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="cards mb-3">
    <div class="container">
      <div class="row mb-3">
        <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between border-bottom mb-1 pb-2">
                <h5 class="card-title fs-6 text-muted">Sales</h5>
                <h6 class="card-subtitle fs-4 mb-2">75%</h6>
              </div>
              
              <div class="d-flex justify-content-between">
                <p class="fs-8 text-muted mb-0">Conversion Rate</p>

                <div class="fs-8">
                  <span>100%</span>
                  <i class="fa-solid fa-arrow-trend-up ms-1 text-success"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between border-bottom mb-1 pb-2">
                <h5 class="card-title fs-6 text-muted">Sales</h5>
                <h6 class="card-subtitle fs-4 mb-2">75%</h6>
              </div>
              
              <div class="d-flex justify-content-between">
                <p class="fs-8 text-muted mb-0">Conversion Rate</p>

                <div class="fs-8">
                  <span>100%</span>
                  <i class="fa-solid fa-arrow-trend-up ms-1 text-success"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between border-bottom mb-1 pb-2">
                <h5 class="card-title fs-6 text-muted">Sales</h5>
                <h6 class="card-subtitle fs-4 mb-2">75%</h6>
              </div>
              
              <div class="d-flex justify-content-between">
                <p class="fs-8 text-muted mb-0">Conversion Rate</p>

                <div class="fs-8">
                  <span>100%</span>
                  <i class="fa-solid fa-arrow-trend-up ms-1 text-success"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between border-bottom mb-1 pb-2">
                <h5 class="card-title fs-6 text-muted">Sales</h5>
                <h6 class="card-subtitle fs-4 mb-2">75%</h6>
              </div>
              
              <div class="d-flex justify-content-between">
                <p class="fs-8 text-muted mb-0">Conversion Rate</p>

                <div class="fs-8">
                  <span>100%</span>
                  <i class="fa-solid fa-arrow-trend-up ms-1 text-success"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              <div class="row align-items-center">  
                <div class="col-auto">
                  <i class="fa-solid fa-money-check-dollar display-5 text-primary"></i>
                </div>
                <div class="col">
                  <div class="fs-8 text-muted">Total Payment</div>
                  <div class="fs-7 fw-bold">75,000.00</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              <div class="row align-items-center">  
                <div class="col-auto">
                  <i class="fa-solid fa-building-user display-5 text-success"></i>
                </div>
                <div class="col">
                  <div class="fs-8 text-muted">Total Tenant</div>
                  <div class="fs-7 fw-bold">20</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              <div class="row align-items-center">  
                <div class="col-auto">
                  <i class="fa-solid fa-user-shield display-5 text-warning"></i>
                </div>
                <div class="col">
                  <div class="fs-8 text-muted">Active Tenant</div>
                  <div class="fs-7 fw-bold">20</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              <div class="row align-items-center">  
                <div class="col-auto">
                  <i class="fa-solid fa-circle-exclamation display-5 text-danger"></i>
                </div>
                <div class="col">
                  <span class="fs-8 text-muted">Due Payment</span>
                  <span class="fs-7 fw-bold">25,000.00</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>
<%= render "shared/backend/footer" %>