<footer class="text-center py-0 border-top bg-white">
  <div class="container">
    <div class="container py-3">
      <div class="row justify-content-between">
        <div class="col-12 col-md-auto mb-1 mb-md-0">
          <p class="mb-0">&copy; 2022 TenManSys Inc </p>
        </div>
        <div class="col-12 col-md-auto">
          <p class="mb-0">
            Made with<span class="fas fa-heart mx-1 text-danger"> </span>by <a class="text-decoration-none ms-1" href="https://tenmansys.com/" target="_blank">tenmansys</a></p>
        </div>
      </div>
    </div>
  </div><!-- end of .container-->
</footer>