<header>
	<div class="top_header border-bottom bg-white">
		<div class="container">
			<div class="d-flex flex-wrap align-items-center justify-content-between justify-content-lg-start py-2">
				<button class="navbar-toggler p-0 d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
					<i class="fa-solid fa-bars"></i>
				</button>

				<%= link_to admin_path, class: 'd-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none' do %>
					<%= image_tag "logo-new.png", height: 31, alt: 'logo' %>
				<% end %>


				<div class="dropdown text-end ms-lg-auto">
					<a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
						<img src="https://github.com/mdo.png" alt="mdo" class="rounded" width="32" height="32">
					</a>
					<ul class="dropdown-menu dropdown-menu-end text-small mt-1" aria-labelledby="dropdownUser1" style="">
						<li><a class="dropdown-item" href="#">New project...</a></li>
						<li><a class="dropdown-item" href="#">Settings</a></li>
						<li><a class="dropdown-item" href="#">Profile</a></li>
						<li><hr class="dropdown-divider"></li>
						<li><a class="dropdown-item" href="#">Sign out</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="main_header bg-white">
		<div class="container">
			<nav class="navbar navbar-expand-lg">
				<div class="container p-0">
					
					<div class="collapse navbar-collapse" id="navbarScroll">
						<ul class="navbar-nav me-auto my-2 my-lg-0" style="--bs-scroll-height: 100px;">
							<li class="nav-item">
								<a class="nav-link active" aria-current="page" href="#">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Interface</a>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									Form Elements
								</a>
								<ul class="dropdown-menu mt-2" aria-labelledby="navbarScrollingDropdown">
									<li><a class="dropdown-item" href="#">Action</a></li>
									<li><a class="dropdown-item" href="#">Another action</a></li>
									<li><hr class="dropdown-divider"></li>
									<li><a class="dropdown-item" href="#">Something else here</a></li>
								</ul>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Extra</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Layouts</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Help & Support</a>
							</li>
						</ul>
						<form class="d-flex" role="search">
							<input class="form-control form-control-sm me-2" type="search" placeholder="Search" aria-label="Search">
							<button class="btn btn-sm btn-outline-success" type="submit">Search</button>
						</form>
					</div>
				</div>
			</nav>
		</div>
	</div>
</header>