<!-- ===============================================-->
<!--    Navbar-->
<!-- ===============================================-->
<%= render "shared/navbar" %>

<!-- ============================================-->
<!-- <Hero> begin ============================-->
<section class="py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 text-md-start text-center py-6">
        <h1 class="mb-5 display-1 fw-bold">The Tenant Management Powerhouse</h1>

        <div class="text-center text-md-start">
          <a class="btn btn-warning me-3 btn-lg" href="#!" role="button">Get started</a>
          <a class="btn btn-link text-warning fw-medium" href="https://youtube.com" role="button" data-bs-toggle="modal" data-bs-target="#popupVideo">
            <i class="fa-solid fa-play me-2"></i>Watch the video
          </a>
        </div>
      </div>
      <div class="col-md-6 text-end">
        <%= image_tag "hero/hero-img.png", class: 'pt-7 pt-md-0 img-fluid', alt: 'Hero' %>
      </div>
    </div>
  </div>
</section>
<!-- <Hero> close ============================-->
<!-- ============================================-->



<!-- ============================================-->
<!-- <Footer> begin ============================-->
<%= render "shared/footer" %>
<!-- <section> close ============================-->
<!-- ============================================-->


